.main {
  align-items: center;
  min-height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  text-transform: uppercase;
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: 1px solid black;
}
